<div class="columns is-centered">
  <div class="column is-half">
    <%= form_with url: login_path, method: :post do |form| %>
      <div>
        <%= form.label :email %><br/>
        <%= form.text_field :email, class: "input" %>
      </div>
      <div class="field">
        <%= form.label :password %><br/>
        <%= form.password_field :password, class: "input" %>
      </div>
      <div class="field">
        <%= form.submit "Login", class: "button is-primary" %>
      </div>
    <% end %>
  </div>
</div>
