<!DOCTYPE html>
<html>
  <head>
    <title>Probable Memory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-brand">
        <%= link_to 'Probable Memory',root_path, class:"title is-3 navbar-item" %>
      </div>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      <div class="navbar-menu">
        <div class="navbar-end">
          <%# TODO DROPDOWN MENU %>
          <% if current_user %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">User</a>
              <div class="navbar-dropdown is-right">
                <a class="navbar-item">
                </a>
                <%= link_to 'Dashboard', :dashboard, class: "navbar-item" %>
                <%= link_to 'Edit Profile', profile_edit_path, class: "navbar-item" %>
                <hr class="navbar-divider">
                <%= link_to 'Logout', :logout, method: :post, class: "navbar-item" %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="buttons navbar-item">
            <%= link_to 'Register', :register, class: "button is-light"  %>
            <%= link_to 'Login', :login, class: "button is-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <section class="section">
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
    <%= yield %>
  </section>
</body>
</html>
